body{
    margin: 0 0 0 0;
    display: flex;
    position: relative;
  }
  .home {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  .home .rectangle{
    width: fit-content;
    height: fit-content;
  }
  .home .navbar {
    margin: 20px 98px 30px 116px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    width: 1706px;
    box-sizing: border-box;
  }
  .line-1{
    margin-bottom: 100px;
    display: flex;
    width: 1920px;
    border: solid 2px;
    box-sizing: border-box;
    color: #133611;
  }
  .home .logo1 {
    background: url('/assets/pemiluhijau3.svg') 50% / cover no-repeat;
    margin-top: 30px;
    width: 183.3px;
    height: 90.76px;
  }
  .home .rbutton {
    margin: 40px 70px 17px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .home .berita {
    margin: 18px 66.5px 18px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
  }
  .home .berita a{
    text-decoration: none;
    color: #ffffff;
  }
  .home .tentang-pemilu {
    margin: 18px 68.8px 18px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
  }
  .home .tentang-pemilu a{
    text-decoration: none;
    color: #ffffff;
  }
  .home .partai {
    margin: 18px 65.7px 18px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
  }
  .home .partai a{
    text-decoration: none;
    color: #ffffff;
  }
  .home .tentang-kami {
    margin: 18px 67.7px 18px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
  }
  .home .tentang-kami a{
    text-decoration: none;
    color: #ffffff;
  }
  .masuk {
    text-decoration: none;
    color: #ffffff;
  }
  .forum {
    margin: 18px 65.7px 18px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
  }
  .forum a{
    text-decoration: none;
    color: #ffffff;
  }
  .rectangle-ext{
    height: 100px;
    margin-top: 50px;
    /* border: 20px; */
    width: 100%;
    align-content: center;
    background: #133611;
  }
  .rectangle-isi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 116px;
    margin-right: 160px;
  }
  .rectangle-login {
    border-radius: 20px;
    background: #133611;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 18px 0 18px 0.3px;
    width: 135px;
    margin-right: 60px;
    box-sizing: border-box;
  }
  .login {
    overflow-wrap: break-word;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
  }
  
  .berita-2 {
    margin: 0 115px 27px 115px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #133611;
  }
  .rectangle--1{
    display: flex;
    flex-direction: row;
  }
  .rectangle-2 {
    border-radius: 20px;
    border-color: #133611;
    border: 3px solid;
    align-content: center;
    background: #ffffff;
    /* position: relative; */
    margin: 0 230px 31px 115px;
    display: flex;
    flex-direction: column;
    padding: 43px 0 48px 43px;
    box-sizing: border-box;
  }
  .text-4 {
    margin-bottom: 6px;
    display: flex;
    /* align-self: flex-start; */
    /* overflow-wrap: break-word; */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #133611;
    width: 95%;
  }
  .text-4-1 {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #133611;
    width: 95%;
    border: none;
  }
  .text-4-2 {
    align-self: flex-start;
    margin-top: 30px;
    overflow-wrap: break-word;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #133611;
  }
  .rectangle-2-1 {
    border-radius: 20px;
    border-color: #133611;
    border: 3px solid;
    align-content: center;
    background: #ffffff;
    /* position: relative; */
    margin: 0 230px 31px 115px;
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: fit-content;
    flex-direction: column;
    padding: 5px 0 5px 43px;
    box-sizing: border-box;
  }
  .rectangle-2-2 {
    border-radius: 20px;
    border-color: #133611;
    border: 3px solid;
    align-content: center;
    background: #ffffff;
    /* position: relative; */
    margin: 0 230px 31px 115px;
    display: flex;
    width: 1000px;
    height: 170px;
    flex-direction: column;
    padding: 12px 0 0 43px;
    box-sizing: border-box;
  }
  .home .rectangle-6 {
    background: #133611;
    margin-top: 100px;
    width: 1920px;
    height: 230px;
  }

  .home .rbutton-2 {
    margin: 0 140px 17px 1105px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .tambah {
    text-decoration: none;
    color: #ffffff;
  }
  .home .rectangle-tambah {
    border-radius: 20px;
    background: #133611;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 18px 0 18px 0.3px;
    width: 210px;
    box-sizing: border-box;
  }
  .home .add {
    overflow-wrap: break-word;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
  }
  .forum-1 {
    text-decoration: none;
    color: #133611;
  }
  .send {
    background: url('/assets/sendijo.png') 50% / cover no-repeat;
    margin-top: 30px;
    width: 10px;
    height: 10px;
  }
  .trash {
    background: url('/assets/trashijo.png') 50% / cover no-repeat;
    margin-top: 30px;
    width: 10px;
    height: 10px;
  }
  .rectangle--2{
    display: flex;
    flex-direction: row;
  }
  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(236, 236, 236, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  } 
    
  .popup {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
  }
  
  .popup p {
    font-size: 36px;
    font-weight: bold;
    color: #2E4828;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  button {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  button.confirm {
    border-radius: 20px;
    background: #133611;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0.3px;
    width: 150px;
    height: 70px;
    margin: 0 0 10px 0;
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
  }
  
  button.cancel {
    border-radius: 20px;
    background: #9B1212;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0 0 0.3px;
    width: 150px;
    height: 70px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
  }