body{
  margin: 0 0 0 0;
  display: flex;
  position: relative;
}
.home {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-top: 59px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
.home .rectangle{
  width: fit-content;
  height: fit-content;
  padding: 20px;
}
.home .navbar {
  margin: 0 98px 143px 116px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1706px;
  box-sizing: border-box;
}
.home .logo1 {
  background: url('/assets/pemiluhijau3.svg') 50% / cover no-repeat;
  width: 183.3px;
  height: 90.76px;
}
.home .rbutton {
  margin: 7px 70px 17px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home .berita {
  margin: 18px 66.5px 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 30px;
  color: #133611;
}
.home .berita a{
  text-decoration: none;
  color: #133611;
}
.home .tentang-pemilu {
  margin: 18px 68.8px 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 30px;
  color: #133611;
}
.home .tentang-pemilu a{
  text-decoration: none;
  color: #133611;
}
.home .partai {
  margin: 18px 65.7px 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 30px;
  color: #133611;
}
.home .partai a{
  text-decoration: none;
  color: #133611;
}
.home .tentang-kami {
  margin: 18px 67.7px 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 30px;
  color: #133611;
}
.home .tentang-kami a{
  text-decoration: none;
  color: #133611;
}
.home .berita-1 {
  margin: 0 115px 27px 115px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  color: #133611;
}
.home .rectangle-1 {
  border-radius: 50px;
  border: 3px solid #133611;
  background: linear-gradient(rgba(79, 123, 88, 0.2), rgba(79, 123, 88, 0.2)), linear-gradient(180deg, #B71211 23.9%, #FFFEFE 69.9%);
  position: relative;
  margin: 0 118px 112px 118px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  padding: 41.7px 0 29.4px 0;
  width: 857px;
  box-sizing: border-box;
}
.home .text-1 {
  margin: 0 0 57.2px 1px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
.home .rectangle-1-1 {
  margin-bottom: 24.8px;
  display: flex;
  flex-direction: row;
  width: 504.5px;
  box-sizing: border-box;
}
.home .mask {
  margin-right: 22.8px;
  width: 240.9px;
  height: 240.9px;
  border-radius: 100%;
}
.home .mask-1 {
  width: 240.9px;
  height: 240.9px;
  border-radius: 100%;
}
.home .text-2 {
  margin-left: 17.1px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  color: #133611;
}
.home .tentang-pemilu-1 {
  margin: 0 118px 27px 118px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  color: #133611;
}
.home .rectangle-2 {
  margin: 0 118px 112px 118px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  column-gap: 32px;
  width: fit-content;
  box-sizing: border-box;
}
.table-1{
  text-decoration: none;
  color: #FFFFFF;
}
.home .rectangle-2-1 {
  border-radius: 20px;
  background: #133611;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 48.4px;
  width: 500px ;
  height: 518px;
  box-sizing: border-box;
}
.home .text-3 {
  margin-bottom: 26.5px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
.gambar{
  width: 200px;
  height: 300px;
  justify-content: center;
}
.table-2{
  text-decoration: none;
  color: #FFFFFF;
}
.home .rectangle-2-2 {
  border-radius: 20px;
  background: #133611;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 198.5px 48.1px 217.5px 48.1px;
  width: 500px;
  height: 518px;
  box-sizing: border-box;
}
.home .text-5 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
.table-3{
  text-decoration: none;
  color: #FFFFFF;
}
.home .rectangle-2-3 {
  border-radius: 20px;
  background: #133611;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 172px 0 191px 0;
  width: 500px;
  height: 518px;
  box-sizing: border-box;
}
.home .text-6 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
.home .partai-1 {
  margin: 0 118px 27px 118px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  color: #133611;
}
.home .rectangle-3 {
  margin: 0 72px 112px 118px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home .rectangle-3-1 {
  border-radius: 20px;
  background: #133611;
  position: relative;
  margin-right: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 39px 0;
  width: 281px;
  height: 289px;
  box-sizing: border-box;
}
.home .pdip {
  background: url('/assets/partaipdip.png') 50% / cover no-repeat;
  width: 187px;
  height: 211px;
}
.home .rectangle-3-2 {
  border-radius: 20px;
  background: #133611;
  position: relative;
  margin-right: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 43px 0 39px 0;
  width: 296px;
  height: 289px;
  box-sizing: border-box;
}
.home .gerindra {
  background: url('/assets/partaigerindra.png') 50% / cover no-repeat;
  width: 173px;
  height: 207px;
}
.home .rectangle-3-3 {
  border-radius: 20px;
  background: #133611;
  position: relative;
  margin-right: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 33px 0 39px 0;
  width: 296px;
  height: 289px;
  box-sizing: border-box;
}
.home .golkar {
  background: url('/assets/partaigolkar.png') 50% / cover no-repeat;
  width: 213px;
  height: 217px;
}
.home .rectangle-3-4 {
  border-radius: 20px;
  background: #133611;
  position: relative;
  margin-right: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 43px 0 41px 1px;
  width: 296px;
  height: 289px;
  box-sizing: border-box;
}
.home .psi {
  background: url('/assets/partaipsi.png') 50% / cover no-repeat;
  width: 160px;
  height: 205px;
}
.home .rectangle-3-5 {
  border-radius: 20px;
  background: #133611;
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 70px 3px 65px 0;
  width: 296px;
  height: 289px;
  box-sizing: border-box;
}
.home .text {
  text-align:justify;
  font-family: 'Inter';
  margin: 50px 0 0 0;
  font-weight: 500;
  font-size: 36px;
  color: #ffffff;
}
.home .tentang-kami-1 {
  margin: 0 118px 58px 118px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  color: #133611;
}
.home .rectangle-4 {
  margin: 0 172px 112px 120px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home .logo-2 {
  margin-right: 10px;
  width: 595.5px;
  height: 295px;
}
.home .desc-box{
  margin: 0 0 0 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 800px;
  box-sizing: border-box;
}
.home .desc{
  display: inline-block;
  position: relative;
  text-align: justify;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 36px;
  color: #133611;
  margin-left: 20px;
  overflow-wrap: break-word;
}
.judul{
  margin: 0 0 58px 115px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  color: #133611;
}
.format{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 115px;
}
.name{
  margin: 0 24px 8px 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.rectangle-5-1 {
  border-radius: 10px;
  border: 1px solid #000000;
  background: #FFFFFF;
  padding-left: 20px;
  margin-bottom: 40px;
  font-size: 24px;
  width: 1545px;
  height: 54px;
}
.email{
  margin: 0 24px 8px 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.rectangle-5-2 {
  border-radius: 10px;
  border: 1px solid #000000;
  background: #FFFFFF;
  padding-left: 20px;
  font-size: 24px;
  margin-bottom: 40px;
  width: 1545px;
  height: 54px;
}
.feedback{
  margin: 0 24px 8px 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.rectangle-5-3 {
  border-radius: 10px;
  border: 1px solid #000000;
  background: #FFFFFF;
  padding-left: 20px;
  font-size: 24px;
  margin-bottom: 40px;
  width: 1545px;
  height: 154px;
}
.submit-1{
  margin: 0 72px 112px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.submit-1-1{
  width: 250px;
  height: 50px;
  font-size: 24px;
  background-color: #133611;
  color: #ffffff;
  border: 10px;
  border-radius: 10px;
  border-color: #000000;
}
.home .rectangle-6 {
  background: #133611;
  width: 1920px;
  height: 230px;
}