body{
  display: flex;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}
.login-page {
  background: #133611;
  padding: 59px 100px;
  width: 1440px;
  box-sizing: border-box;
  border-radius: 20px;
}
.login-page .rectangle-1 {
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 76px 33px 15px 33px;
  box-sizing: border-box;
}
.login-page .rectangle-1-1 {
  margin: 0 37px 18px 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 735.6px;
  box-sizing: border-box;
}
.login-page .rectangle-1-1-1{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.login-page .logo1 {
  background: url('/assets/pemiluhijau3.svg') 50% / cover no-repeat;
  width: 183.3px;
  height: 90.76px;
}
.login-page .text{
  font-family: 'Inter';
  font-weight: 600;
  font-size: 30px;
  color: #454141;
  /* margin-top: -25px; */
  /* margin-left: 5px; */
}
.login-page .selamat-datang {
  margin: 46px 0 20px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #000000;
}
.login-page .rectangle-1-2 {
  border-radius: 10px;
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.login-page .email {
  margin: 0 24px 8px 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 23px;
  color: #000000;
}
.login-page .rectangle-1-2-1 {
  border-radius: 10px;
  border: 1px solid #000000;
  background: #FFFFFF;
  padding-left: 20px;
  font-size: 24px;
  width: 458px;
  height: 54px;
}
.login-page .rectangle-1-3 {
  border-radius: 10px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.login-page .kata-sandi {
  margin: 0 24px 8px 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 23px;
  color: #000000;
}
.login-page .rectangle-1-3-1 {
  border-radius: 10px;
  border: 1px solid #000000;
  background: #FFFFFF;
  padding-left: 20px;
  font-size: 24px;
  width: 458px;
  height: 54px;
}
.login-page .rectangle-1-4{
  width: 458px;
  margin: 1px 0 1px 0;
}
.login-page .text-1 {
  margin: 0 0 0 0;
  overflow-wrap: break-word;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.text-1 {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #6366F1;
}
.rectangle-1-5 {
  text-decoration: none;
  color: #ffffff;
}
.rectangle-1-5 a:hover{
  color: #6366F1;
}
.text-2 {
  margin: 10px 0 0 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
  color: #6366F1;
}
.text-2 {
  overflow-wrap: break-word;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.login-page .rectangle-2 {
  border-radius: 10px;
  background: #133611;
  position: relative;
  margin-bottom: 110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px 0 14px 3px;
  width: 258px;
  box-sizing: border-box;
}
.login-page .masuk {
  overflow-wrap: break-word;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 23px;
  color: #FFFFFF;
}
.login-page .rectangle-3 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.login-page .powered-by {
  margin: 38px 25.6px 10px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 23px;
  color: #000000;
}
.login-page .binus {
  background: url('/assets/binus.png') 50% / cover no-repeat;
  width: 126px;
  height: 76px;
}