body{
    margin: 0 0 0 0;
    display: flex;
    position: relative;
    overflow-x: hidden;
  }
  .login-page {
    background: #4F7B58;
    padding: 59px 100px;
    width: 1440px;
    box-sizing: border-box;
  }
  .login-page .selamat-datang {
    margin: 46px 0 20px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 48px;
    color: #000000;
  }
  .login-page .group-25 {
    border-radius: 10px;
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
  .login-page .rectangle-4165 {
    border-radius: 10px;
    border: 1px solid #000000;
    background: #FFFFFF;
    width: 458px;
    height: 54px;
  }
  .login-page .email {
    margin: 0 24px 8px 24px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 23px;
    color: #000000;
  }
  .login-page .group-27 {
    border-radius: 10px;
    background: #4F7B58;
    position: relative;
    margin-bottom: 110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px 0 14px 3px;
    width: 258px;
    box-sizing: border-box;
  }
  .login-page .masuk {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 23px;
    color: #FFFFFF;
  }
  .login-page .group-24 {
    border-radius: 10px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }
  .login-page .kata-sandi {
    margin: 0 24px 8px 24px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 23px;
    color: #000000;
  }
  .login-page .icons-8-hide-901 {
    background: url('../assets/images/icons8Hide902.png') 50% / cover no-repeat;
    width: 25px;
    height: 25px;
  }
  .login-page .binus-1 {
    background: url('../assets/images/binus1.png') 50% / cover no-repeat;
    width: 126px;
    height: 76px;
  }
  .login-page .powered-by {
    margin: 38px 25.6px 10px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 23px;
    color: #000000;
  }
  .login-page .lupa-kata-sandi-hubungi-kami {
    margin: 0 105.8px 8px 0;
    overflow-wrap: break-word;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
  }
  .lupa-kata-sandi-hubungi-kami {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 20px;
    text-decoration-line: underline;
    line-height: 1.333;
    color: #6366F1;
  }
  .belum-punya-akun-daftar {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.333;
    color: #6366F1;
  }
  .login-page .belum-punya-akun-daftar {
    margin: 0 154.6px 72px 0;
    overflow-wrap: break-word;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
  }
  .login-page .logo-14 {
    background: url('../assets/images/logo13.png') 50% / cover no-repeat;
    width: 233px;
    height: 129px;
  }
  .login-page .kotak-suara-min-1 {
    background: url('../assets/images/kotakSuaraMin2.png') 50% / cover no-repeat;
    position: absolute;
    right: 75px;
    bottom: 34px;
    width: 251px;
    height: 324px;
  }
  .login-page .container {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .login-page .container-1 {
    border-radius: 10px;
    border: 1px solid #000000;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 14px 16px 15px 16px;
    width: 458px;
    height: 54px;
    box-sizing: border-box;
  }
  .login-page .container-2 {
    margin: 0 37px 18px 37px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 735.6px;
    box-sizing: border-box;
  }
  .login-page .container-3 {
    border-radius: 20px;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 76px 33px 15px 33px;
    box-sizing: border-box;
  }