body{
  margin: 0 0 0 0;
  display: flex;
  position: relative;
  overflow-x: hidden;
}
.tentang-pemilu-1 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-top: 59px;
  width: 1920px;
  box-sizing: border-box;
}
.tentang-pemilu-1 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-top: 59px;
  width: 1920px;
  box-sizing: border-box;
}
.tentang-pemilu-1 .rectangle{
  width: fit-content;
  height: fit-content;
  padding: 20px;
}
.tentang-pemilu-1 .navbar {
  margin: 20px 98px 30px 116px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  width: 1706px;
  box-sizing: border-box;
}
.line-1{
  margin-bottom: 100px;
  display: flex;
  width: 1920px;
  border: solid 2px;
  box-sizing: border-box;
  color: #133611;
}
.tentang-pemilu-1 .logo1 {
  background: url('/assets/pemiluhijau3.svg') 50% / cover no-repeat;
  width: 183.3px;
  height: 90.76px;
}
.tentang-pemilu-1 .rbutton {
  margin: 7px 70px 17px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.rectangle-ext{
  height: 100px;
  margin-top: 50px;
  /* border: 20px; */
  width: 100%;
  align-content: center;
  background: #133611;
}
.rectangle-isi{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 116px;
  margin-right: 160px;
}
.rectangle-login {
  border-radius: 20px;
  background: #133611;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 18px 0 18px 0.3px;
  width: 135px;
  margin-right: 60px;
  box-sizing: border-box;
}
.login {
  overflow-wrap: break-word;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
}
.tentang-pemilu-1 .berita {
  margin: 18px 66.5px 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
}
.tentang-pemilu-1 .berita a{
  text-decoration: none;
  color: #ffffff;
}
.tentang-pemilu-1 .tentang-pemilu {
  margin: 18px 68.8px 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
}
.tentang-pemilu-1 .tentang-pemilu a{
  text-decoration: none;
  color: #ffffff;
}
.tentang-pemilu-1 .partai {
  margin: 18px 65.7px 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
}
.tentang-pemilu-1 .partai a{
  text-decoration: none;
  color: #ffffff;
}
.tentang-pemilu-1 .tentang-kami {
  margin: 18px 67.7px 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
}
.tentang-pemilu-1 .tentang-kami a{
  text-decoration: none;
  color: #ffffff;
}
.tentang-pemilu-1 .tentang-pemilu-2 {
  margin: 0 184px 33px 115px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
}
.tentang-pemilu-1 .rectangle-2 {
  border-radius: 20px;
  background: #133611;
  position: relative;
  margin: 0 240px 83px 115px;
  display: flex;
  flex-direction: column;
  padding: 60.5px 94.2px 113px 68px;
  width: fit-content;
  box-sizing: border-box;
}
.tentang-pemilu-1 .judul {
  margin-bottom: 36.5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
.tentang-pemilu-1 .desc {
  margin-bottom: 56px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.tentang-pemilu-1 .rectangle-2-1 {
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  width: 1392.8px;
  box-sizing: border-box;
}
.back {
  text-decoration: none;
  color: #ffffff;
}
.tentang-pemilu-1 .rectangle-3 {
  border-radius: 20px;
  background: #133611;
  position: relative;
  margin-bottom: 115px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  padding: 27px 5px 27px 0;
  width: 278px;
  box-sizing: border-box;
}
.tentang-pemilu-1 .lainnya {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
.tentang-pemilu-1 .rectangle-4 {
  background: #133611;
  width: 1920px;
  height: 230px;
}

.masuk {
  text-decoration: none;
  color: #ffffff;
}
.forum {
  margin: 18px 65.7px 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
}
.forum a{
  text-decoration: none;
  color: #ffffff;
}