body{
  margin: 0 0 0 0;
  display: flex;
  position: relative;
  overflow-x: hidden;
}
.tentang-kami {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  /* padding-top: 59px; */
  width: 1920px;
  box-sizing: border-box;
}
.tentang-kami .rectangle{
  width: fit-content;
  height: fit-content;
  /* padding: 20px; */
}
.tentang-kami .navbar {
  margin: 20px 98px 30px 116px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  width: 1706px;
  box-sizing: border-box;
}
.line-1{
  margin-bottom: 100px;
  display: flex;
  width: 1920px;
  border: solid 2px;
  box-sizing: border-box;
  color: #133611;
}
.tentang-kami .logo1 {
  background: url('/assets/pemiluhijau3.svg') 50% / cover no-repeat;
  margin-top: 30px;
  width: 183.3px;
  height: 90.76px;
}
.tentang-kami .rbutton {
  margin: 40px 70px 17px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.rectangle-ext{
  height: 100px;
  margin-top: 50px;
  /* border: 20px; */
  width: 100%;
  align-content: center;
  background: #133611;
}
.rectangle-isi{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 116px;
  margin-right: 160px;
}
.rectangle-login {
  border-radius: 20px;
  background: #133611;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 18px 0 18px 0.3px;
  width: 135px;
  margin-right: 60px;
  box-sizing: border-box;
}
.login {
  overflow-wrap: break-word;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
}
.tentang-kami .berita {
  margin: 18px 66.5px 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
}
.tentang-kami .berita a{
  text-decoration: none;
  color: #ffffff;
}
.tentang-kami .tentang-pemilu {
  margin: 18px 68.8px 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
}
.tentang-kami .tentang-pemilu a{
  text-decoration: none;
  color: #ffffff;
}
.tentang-kami .partai {
  margin: 18px 65.7px 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
}
.tentang-kami .partai a{
  text-decoration: none;
  color: #ffffff;
}
.tentang-kami .tentang-kami-1 {
  margin: 18px 67.7px 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
}
.tentang-kami .tentang-kami-1 a{
  text-decoration: none;
  color: #ffffff;
}
.tentang-kami .tentang-kami-2 {
  margin: 0 184px 73px 110px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #133611;
}
.tentang-kami .rectangle-3 {
  margin: 0 172px 112px 110px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.tentang-kami .logo-1 {
  margin-right: 10px;
  width: 630px;
  height: 310px;
}
.tentang-kami .desc-box{
  margin: 0 0 0 135px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 800px;
  box-sizing: border-box;
}
.tentang-kami .desc {
  display: inline-block;
  position: relative;
  text-align: justify;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #133611;
  margin-left: 20px;
  overflow-wrap: break-word;
}
.tentang-kami .rectangle-4 {
  background: #133611;
  width: 1920px;
  height: 230px;
}

.masuk {
  text-decoration: none;
  color: #ffffff;
}
.forum {
  margin: 18px 65.7px 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #ffffff;
}
.forum a{
  text-decoration: none;
  color: #ffffff;
}